[
    {lager, [
        {handlers, [
            {lager_file_backend, [
                {file, "log/all.log"},
                {level, debug},
                {date, "$D0"}, {count, 10},
                {formatter_config, [date, " ", time," [",severity,"] ", module, ":", function, "(", line, ") ", message, "\n"]}
            ]}
        ]},
        {error_logger_hwm, 100}
     ]}

].